databases:
  - name: mj_db
    postgresMajorVersion: 16
    databaseName: mahjong-yaritai
    user: mahjong_yaritai_user
    region: singapore
    plan: free
    ipAllowList: []

services:
  - name: app
    type: web
    runtime: docker
    region: singapore
    plan: free
    repo: https://github.com/okki-0417/Mahjong-Yaritai-API
    branch: main
    autoDeployTrigger: checksPass
    healthCheckPath: /
    dockerfilePath: ./Dockerfile
    envVars:
      - key: DATABASE_HOST
        fromDatabase:
          name: mj_db
          property: host
      - key: DATABASE_NAME
        value: mahjong-yaritai
      - key: DATABASE_PASSWORD
        fromDatabase:
          name: mj_db
          property: password
      - key: DATABASE_USER
        value: mahjong_yaritai_user
      - key: HOST_NAME
        value: Must be fulfilled after the web server creation.
      - key: ETLD_HOST
        sync: false
      - key: REDIS_HOST
        fromService:
          name: mj_redis
          type: keyvalue
          property: host
      - key: REDIS_PORT
        fromService:
          name: mj_redis
          type: keyvalue
          property: port
      - key: FRONTEND_HOST
        sync: false
      - key: FRONTEND_ORIGIN
        sync: false
      - key: MAIL_ADDRESS
        sync: false
      - key: MAIL_PASSWORD
        sync: false
      - key: RAILS_ENV
        value: production
      - key: RAILS_MASTER_KEY
        sync: false
      - key: SECRET_KEY_BASE
        sync: false
      - key: USER_AGENT
        sync: false
      - key: AWS_ACCESS_KEY_ID
        sync: false
      - key: AWS_SECRET_ACCESS_KEY
        sync: false
      - key: AWS_REGION
        value: ap-northeast-1
      - key: AWS_S3_BUCKET
        sync: false
      - key: SENTRY_DSN
        sync: false
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: GOOGLE_CLIENT_SECRET
        sync: false
      - key: GOOGLE_REDIRECT_URI
        sync: false
      - key: LINE_CHANNEL_ID
        sync: false
      - key: LINE_CHANNEL_SECRET
        sync: false
      - key: LINE_REDIRECT_URI
        sync: false
  - name: mj_redis
    type: keyvalue
    plan: free
    region: singapore
    maxmemoryPolicy: allkeys-lru
    ipAllowList: []

  - name: mj_sidekiq
    type: worker
    runtime: docker
    region: singapore
    plan: free
    repo: https://github.com/okki-0417/Mahjong-Yaritai-API
    branch: main
    autoDeployTrigger: checksPass
    dockerfilePath: ./Dockerfile
    dockerCommand: bundle exec sidekiq
    envVars:
      - key: DATABASE_HOST
        fromDatabase:
          name: mj_db
          property: host
      - key: DATABASE_NAME
        value: mahjong-yaritai
      - key: DATABASE_PASSWORD
        fromDatabase:
          name: mj_db
          property: password
      - key: DATABASE_USER
        value: mahjong_yaritai_user
      - key: REDIS_HOST
        fromService:
          name: mj_redis
          type: keyvalue
          property: host
      - key: REDIS_PORT
        fromService:
          name: mj_redis
          type: keyvalue
          property: port
      - key: RAILS_ENV
        value: production
      - key: RAILS_MASTER_KEY
        sync: false
      - key: SECRET_KEY_BASE
        sync: false
      - key: AWS_ACCESS_KEY_ID
        sync: false
      - key: AWS_SECRET_ACCESS_KEY
        sync: false
      - key: AWS_REGION
        value: ap-northeast-1
      - key: AWS_S3_BUCKET
        sync: false
      - key: MAIL_ADDRESS
        sync: false
      - key: MAIL_PASSWORD
        sync: false
      - key: SENTRY_DSN
        sync: false
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: GOOGLE_CLIENT_SECRET
        sync: false
      - key: GOOGLE_REDIRECT_URI
        sync: false
      - key: LINE_CHANNEL_ID
        sync: false
      - key: LINE_CHANNEL_SECRET
        sync: false
      - key: LINE_REDIRECT_URI
        sync: false
